nextflow.enable.dsl = 2

// Create timestamp definition
def timestamp = new java.util.Date().format("yyyy-MM-dd_HH-mm-ss")

params {
    // Output directory
        outDir      = null
        runID       = null
        workDir     = null
        envsDir     = "${params.outDir}/envs/"
        cpus        = 4 //  default thread values.

    // Database path
        sylph_bbdd          = "/imppc/labs/emlab/share/bbdd/sylph/gtdb-r220-c200-dbv1.syldb /imppc/labs/emlab/share/bbdd/sylph/fungi-refseq-2024-07-25-c200-v0.3.syldb /imppc/labs/emlab/share/bbdd/sylph/imgvr_c200_v0.3.0.syldb"
        sylph_bbdd_id       = "GTDB_r220 IMGVR_4.1 FungiRefSeq-2024-07-25"

    // Conda paths
        general_env         = "${envsDir}/conda/general_env.yml"
        mtbseq_env          = "${envsDir}/conda/mtbseq_env.yml"
        tbprofiler_env      = "${envsDir}/conda/tbprofiler_env.yml"
        r_env               = "${envsDir}/conda/r_env.yml"

}

profiles {
    conda_on {
            conda.enabled           = true
            conda.useMamba          = true
            conda.createTimeout     = '2 h'
            conda.cacheDir          = "${params.envsDir}/nf-conda/"
            conda.createOptions     = "-y" // --no-shortcuts
    }

    SGE {
        process {
            executor            = 'sge'
            penv                = 'smp'
            queue               = 'd10imppcv3'
            clusterOptions      = '-S /bin/bash' // '-V' solve a singularity issue ???
            beforeScript        = 'source /imppc/labs/emlab/phesketh/miniconda3/etc/profile.d/conda.sh'
            queueSize           = 50
            //submitRateLimit = '10 sec'  // or '10/2min' for 10 jobs every 2 minutes

            }
    }
}